/* ==========================================================================
    Section comment block
   ========================================================================== */

input {
  margin: 15px 10px;
}

input > .inputs {
  border-radius: 4px;
}

button {
  margin: 15px 10px;
}

h1,
h2,
h3 {
  text-align: center;
}

/* Sub-section comment block
   ========================================================================== */
